@model MovieStore.Core.Entities.Detail

<div class="container"style="margin:0px;padding:0px;border:0px">
    <div class="row" style="margin:0px;padding:0px;border:0px ; background-color:black;">
        <div class="col-3">
            <img src="@Model.DetailMovie.PosterUrl" alt="Movie Poster for @Model.DetailMovie.Title" class="img-thumbnail " style="border-radius:0px;margin:0px;border:0px;padding:0px" />
        </div>
        <div class="col-6">
            <h2><p class="text-light">@Model.DetailMovie.Title</p></h2>
            <p class="text-light">@Model.DetailMovie.Tagline</p>
            <p class="text-light">
                @foreach (var g in Model.DetailGenre)
                {
                    <a href="#" class="badge badge-secondary">@g.Name</a>

                }
            </p>
            <p><a href="#" class="badge badge-warning">@Model.DetailRating.ToString("F")</a></p>
            <p class="text-light">@Model.DetailMovie.Overview</p>
        </div>
        <div class="col-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:black">
                    <a href="#"><i class="fab fa-gratipay" style="color:white"></i></a>
                </li>
                <li class="list-group-item" style="background-color:black">
                    <i class="fas fa-edit" style="color:white"><text class="text-light">Review </text></i>

                </li>
                <li class="list-group-item" style="background-color:black">
                    <i class="fas fa-play" style="color:white"><text class="text-light">TRAILER</text></i>
                </li>
                <li class="list-group-item" style="background-color:white">
                    <p>BUY @Model.DetailMovie.Price</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>MOVIE FACTS</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="far fa-calendar-alt">RelaceDate <span class="badge badge-dark">@Model.DetailMovie.ReleaseDate.Value.ToString("MM:dd:yyyy")</span>
                    </i>
                </li>
                <li class="list-group-item">
                    <i class="fas fa-hourglass-half">Run Time <span class="badge badge-dark">@Model.DetailMovie.RunTime m</span>
                    </i>
                </li>
                <li class="list-group-item">
                    <i class="far fa-money-bill-alt">Box Office <span class="badge badge-dark"> @string.Format("{0:C}", @Model.DetailMovie.Revenue);</span>
                    </i>
                </li>
                <li class="list-group-item">
                    <i class="fas fa-dollar-sign">Budget  <span class="badge badge-dark">@string.Format("{0:C}", @Model.DetailMovie.Revenue)</span>
                    </i>
                </li>
                <li class="list-group-item"><i class="fab fa-imdb"></i><i class="fas fa-share-square"></i></li>
            </ul>
        </div>
        <div class="col-8">
            <h3>CAST</h3>
            <ul class="list-group list-group-flush">
                @foreach(var c in Model.DetailCast)
                {
                    <li class="list-group-item">
                        <img src="@c.ProfilePath" alt="Alternate Text" class="rounded-circle" style="width:30px;height:30px"/>
                        
                        @c.Name
                        <p>   </p>
                    </li>
                }
            </ul>
        </div>
        <div class="col">
           
        </div>
    </div>
</div>